.root-container {
  min-height: calc(100vh - 216px);
  padding-top: 10px;
}


code:after, code:before {
  content: "";
}

table tr td {
  font-size: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}
pre {
  font-size: 1rem;
}

.table-row {
  background: #f3f3f3;
}

a.primary-sale {
  font-weight: 300;
}

article.tile a {
  text-decoration: none !important;
}

.github-corner {
  height: 100px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 2;
}

.github-corner svg {
  height: 100px;
  width: 100px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media screen and (max-width: 800px) {
  .github-corner svg {
    height: 90px;
    width: 90px;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media screen and (max-width: 400px) {
  .github-corner svg {
    height: 70px;
    width: 70px;
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}
