.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 4em;
  text-transform: uppercase;
}

.overlay .zi-spinner {
  margin: auto;
}

.github-corner {
  height: 120px;
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
  overflow: hidden;
  z-index: 2;
}

.github-corner svg {
  height: 120px;
  width: 120px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media screen and (max-width: 800px) {
  .github-corner svg {
    height: 90px;
    width: 90px;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media screen and (max-width: 400px) {
  .github-corner svg {
    height: 70px;
    width: 70px;
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}
